.anotations-header {
  padding: 32px 0;
  display: flex;
  justify-content: space-between;

  &__image-name {
    margin-right: 15px;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 25px;
    border-radius: 4px;
    background: #bebebe !important;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background: #a0a0a0 !important;
    }
  }
}