.annotations-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: #000;
  font-weight: 700;
}

.annotation-item {
  position: absolute;
  width: 32px;
  height: 32px;
  transform: translate(-50%, -50%);
  background: #ed7058;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #fff;
  box-shadow: 0px 2px 6px rgba(69, 69, 69, 0.5);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  transform-origin: top center;

  &:hover {
    transform: translate(-50%, -50%) scale(1.05);
    z-index: 1;

    .annotation-item__info {
      display: flex;
    }
  }

  &__info {
    display: none;
    align-items: center;
    position: absolute;
    top: calc(100% + 25px);
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    border-radius: 4px;
    padding: 16px;
    color: #4a4a4a;
    border: 1px solid #d4dee9;
    max-width: 365px;
    width: max-content;

    &::before {
      content: '';
      position: absolute;
      top: -7px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      width: 12px;
      height: 12px;
      background: #fff;
      border-top: 1px solid #d4dee9;
      border-left: 1px solid #d4dee9;
      z-index: 2;
    }

    &::after {
      content: '';
      position: absolute;
      top: -25px;
      height: 25px;
      left: 0;
      right: 0;
    }

    &--left {
      left: 0;
      transform: translateX(0);

      &::before {
        left: 0;
        transform: translateX(50%) rotate(45deg);
      }
    }

    &--right {
      left: initial;
      right: 0;
      transform: translateX(0);

      &::before {
        left: initial;
        right: 0;
        transform: translateX(-50%) rotate(45deg);
      }
    }

    &--bottom {
      top: initial;
      bottom: calc(100% + 25px);

      &::before {
        top: initial;
        bottom: -7px;
        border-top: none;
        border-left: none;
        border-bottom: 1px solid #d4dee9;
        border-right: 1px solid #d4dee9;
      }

      &::after {
        top: initial;
        bottom: -25px;
        height: 25px;
      }
    }
  }

  &__avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #db7474;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    color: #fdd5d5;
    letter-spacing: -1px;
    font-weight: 700;
    flex-shrink: 0;
    margin-right: 8px;
  }

  &__author {
    margin-bottom: 5px;
    padding-right: 20px;
  }

  &__comment {
    font-weight: 400;
  }

  &__delete {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}
